* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Mono", monospace;
}

body {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  line-height: 20px;
  align-items: center;
  position: relative;
}

.page1 {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  height: 600px;
  width: 1430px;
  align-items: center;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  position: absolute;
  background-size: cover;
}

.header {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 85px;
  display: flex;
}

.logo {
  height: 60px;
  width: 90px;
  margin-top: 37px;
  margin-left: 0px;
  background-color: #e47312;
  padding: 34px 28px 31px;
  font-size: 12px;

  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding: 31px 14px;

  -webkit-box-pack: center;

  justify-content: center;
  -webkit-box-align: center;

  -ms-flex-align: center;
  align-items: center;
  color: #414147;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
}

.nav-link ul {
  display: flex;
  flex-direction: flex-end;
  list-style: none;
  text-decoration: none;
  background-color: white;

  letter-spacing: 1px;
}
.nav-link ul li {
  color: black;
  text-decoration: none;
  font-size: 12px;

  margin-left: 30px;
}
.nav-link ul li a {
  text-decoration: none;
  background-color: white;
  position: relative;
  margin: auto;
  text-decoration: none;
  color: #414147;
  margin-right: 0px;
  padding-right: 0px;
}
.nav-link ul li a:before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.2s;
}
.nav-link ul li a:hover:before {
  content: "";
  width: 1px;
  color: #e47312;
  height: 30px;
  margin-top: 20px;
}
.nav-link ul li a:after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 0px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.2s;
}
.nav-link ul li a:hover:after {
  content: "";
  width: 1px;
  color: #e47312;
  height: 30px;
  margin-bottom: 20px;
}

.quate {
  height: 20px;

  padding: 34px 28px 31px;
  background-color: #e47312;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.quate:hover {
  content: "";
  text-decoration: none;
  background-color: #ffbbcc;
}

.text {
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 110px;
  margin-left: 90px;
  font-family: "Dosis", sans-serif;
}
.para {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 90px;
  color: white;
  font-family: "Dosis", sans-serif;

  font-size: 17px;
  line-height: 26px;
}
.button {
  margin-top: 30px;
  margin-left: 90px;
  width: 160px;
  background-color: #e47312;
  height: 50px;
  border: 0px solid red;
  text-transform: uppercase;
  color: white;
  font-family: Dosis, sans-serif;
}
.button:hover {
  background-color: #ffbbcc;
}
/* page2 */

.page2 {
  position: absolute;
  margin-top: 480px;
  margin-left: 460px;
  width: 1000px;

  background-color: linear-gradient(56deg, #e47312, #ff6361);

  position: absolute;
  height: 200px;

  color: white;
  font-family: Dosis, sans-serif;
}
.bar {
  justify-content: space-around;

  background-image: linear-gradient(56deg, #e47312, #ff6361);
  height: 230px;
  align-items: center;
  display: flex;
}
.phone {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  font-family: Dosis, sans-serif;
}
.phone h1 {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: Dosis, sans-serif;
}
.phone p {
  font-size: 15px;
  color: white;
  font-family: Dosis, sans-serif;
  text-decoration: none;
}
.phone a {
  text-decoration: none;
  color: white;
}

.phone a:hover {
  text-decoration: underline 3px solid pink;
  width: 100%;
}
/* page3 */

.page3 {
  width: 60px;
  height: 220px;
  background-color: black;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 1400px;
  margin-top: 260px;
}

.same {
  font-size: 14px;
}
/* page4 */
.page4 {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;

  background-color: white;

  width: 1430px;
  height: 1450px;
  margin-top: 608px;

  background-attachment: scroll, fixed;
}
.content {
  width: 100%;
  height: 200px;
}
.content h1 {
  position: absolute;

  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 110px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: antiquewhite;
  display: block;
  margin-top: 150px;
  margin-left: 60px;
  font-family: "Dosis", sans-serif;
}
.content p {
  color: black;
  margin-left: 100px;

  position: absolute;
  z-index: 2;

  margin-top: 160px;
  font-size: 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.content a {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;

  margin-left: 655px;
}

.content a:hover {
  content: "";

  color: black;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}

.set {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  text-transform: uppercase;
}
.para2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.para2 h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
}
.para2 p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #919198;
  text-decoration: none;
  font-size: 17px;
  font-weight: lighter;
  font-family: "Dosis", sans-serif;
}
.para2 a {
  color: #919198;
  text-decoration: none;
  text-transform: uppercase;
}
.para2 a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #626433;
  display: block;
  margin: auto;
  transition: 0.5s;
  margin-right: 250px;
}
.para2 a:hover::after {
  width: 36%;
}
.about {
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-attachment: scroll, fixed;
}
.serv {
  width: 550px;
  height: 360px;
  margin-top: 100px;
}
.hps h1 {
  color: rgba(241, 241, 247, 0.4);
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: antiquewhite;
  display: block;
  margin-top: 90px;
  margin-left: 60px;
  font-family: "Dosis", sans-serif;
}
.hps h2 {
  letter-spacing: 2px;
  margin-left: 80px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: black;
}
.hps p {
  font-size: 17px;
  margin-left: 80px;
  color: #919198;
  font-family: "Dosis", sans-serif;
}
.hps span {
  font-family: "Dosis", sans-serif;
  color: #919198;
  font-size: 17px;
  margin-left: 80px;
  text-transform: uppercase;
  margin-top: 15px;
}
.hps a {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.hps a:hover {
  content: "";
  color: black;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}

.num {
  font-family: "Dosis", sans-serif;
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fun-text h1 {
  color: #e47312;
  font-family: "Dosis", sans-serif;
  font-size: 60px;
}
.fun-text p {
  font-size: 17px;
  color: #919198;
  font-family: "Dosis", sans-serif;
}
.para5 {
  margin-left: 2%;

  position: absolute;

  width: 98%;
  height: 2650px;
  background-color: aliceblue;
}

.project {
  width: 100%;
  height: 150px;
  background-color: white;
}
.project h1 {
  position: absolute;

  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: antiquewhite;
  display: block;

  margin-left: 70px;
  font-family: "Dosis", sans-serif;
}
.project p {
  color: black;
  margin-left: 120px;
  position: absolute;

  z-index: 2;

  margin-top: 10px;
  font-size: 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}
.project span {
  color: #919198;
  font-size: 15px;
  margin-left: 800px;
  text-decoration: none;
}
.project a::after {
  content: "";
  width: 0%;
  height: 1px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
  margin-right: 10px;
  text-decoration: none;
}
.project a {
  text-decoration: none;
  color: #919198;
}
.project a:hover::after {
  color: black;
  text-decoration: underline 1px solid black;
  width: 11%;
}
.photo {
  margin-top: 10px;
  width: 100%;

  margin-left: 80px;
  display: inline-block;

  align-items: center;
  background-color: white;
  justify-content: space-around;
}
.photo img {
  width: 400px;
  height: 350px;
  cursor: pointer;
  margin: 10px;
}
.photo img:hover {
  content: "";
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.box {
  width: 96%;
  height: 220px;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;

  background-color: #e47312;
  font-family: "Dosis", sans-serif;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #e47312;
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)),
    url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  font-family: "Dosis", sans-serif;
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
}
.box p {
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 20px;
  font-family: "Dosis", sans-serif;
}
.box span {
  font-size: 13px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  vertical-align: middle;
}
.box span::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.box a {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.box a:hover {
  content: "";
  color: black;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}

.team {
  width: 100%;
  height: 100px;

  margin-top: 200px;
  position: absolute;
}
.team h1 {
  position: absolute;

  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: antiquewhite;
  display: block;

  margin-left: 50px;
  font-family: "Dosis", sans-serif;
}
.team p {
  color: black;
  margin-left: 120px;
  position: absolute;

  z-index: 2;

  margin-top: 10px;
  font-size: 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}
.team span {
  color: black;
  font-size: 15px;
  margin-left: 800px;
}

.team a {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.team a:hover {
  content: "";
  color: black;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}

.container {
  border: 0px solid red;
  width: 85%;
  height: 500px;
  margin-top: 330px;
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
}

.inside {
  height: 420px;
  width: 250px;
  background-image: linear-gradient();
  border: 0px solid red;
  border-radius: 10px;
  margin: 15px;
}
.inside:hover {
  -webkit-box-shadow: 9px 10px 7px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 7px 2px rgba(0, 0, 0, 0.75);
}
.inside img {
  width: 250px;
  height: 300px;
}
.bottam {
  width: 250px;
  height: 120px;
  border: 0px solid red;
}
.bottam h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: blue;
  margin-right: 50px;
  margin-top: 30px;
}
.bottam p {
  font-size: 17px;
  color: blue;
  margin-right: 67px;
}
.side {
  width: 60px;
  height: 160px;
  border: 1px solid red;

  background-color: #e47312;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  top: -150px;
  left: 190px;
  position: relative;
}
.side img {
  height: 15px;
  width: 15px;
}
.client {
  display: flex;
  border: 0px solid red;
  margin-left: 100px;

  position: relative;
}
.sec1 {
  width: 500px;
  height: 350px;

  text-align: center;
  margin-top: 250px;
  position: relative;
}
.sec1 h1 {
  font-size: 110px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
.sec1 h2 {
  font-size: 60px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin-right: 100px;
  letter-spacing: 3px;
}
.sec1 p {
  font-size: 20px;
  margin: 30px;
  margin-right: 150px;
  color: #919198;
}
.sec1 span {
  font-size: 15px;
  margin-right: 100px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  text-align: left;
  color: #919198;
}
.sec1 a {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.sec1 a:hover {
  content: "";
  color: black;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}

.sec2 {
  width: 650px;
  height: 660px;
  border: 0px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;
}
.paragraph1 {
  width: 300px;
  height: 250px;
  border: 0px solid red;
  font-family: "Dosis", sans-serif;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
.paragraph1 p {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  margin-top: 40px;
  color: black;
}
.paragraph1 h3 {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
  color: #919198;
}
.paragraph1 h4 {
  font-family: "Dosis", sans-serif;
  font-size: 15px;

  color: #919198;
}

.paragraph2 {
  width: 300px;
  height: 200px;
  border: 0px solid red;
  font-family: "Dosis", sans-serif;
  margin-top: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  margin-top: 100px;
}
.paragraph2 p {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  margin-top: 40px;
  color: black;
}
.paragraph2 h3 {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
  color: #919198;
}
.paragraph2 h4 {
  font-family: "Dosis", sans-serif;
  font-size: 15px;

  color: #919198;
}
.blog {
  width: 96%;
  height: 700px;
  color: #919198;
  border: 0 px solid red;

  margin-left: 2%;
}
.news {
  width: 100%;
  height: 150;
  margin-top: 100px;
}
.news h1 {
  position: absolute;

  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: antiquewhite;
  display: block;
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Dosis", sans-serif;
}
.news p {
  color: black;
  margin-left: 100px;
  position: absolute;

  z-index: 2;

  margin-top: 90px;
  font-size: 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}
.news span {
  color: #919198;
  font-size: 15px;
  margin-left: 800px;
}
.news span::after {
  content: "";
  width: 0%;
  height: 1px;
  background: red;
  display: block;

  transition: 0.5s;
  margin-right: 6px;
}
.hps a {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.hps a:hover {
  content: "";
  color: white;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}
.top {
  width: 90%;
  height: 500px;
  border: 0px solid red;
  margin-right: 2%;
  margin-left: 5%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card2 {
  width: 350px;
  height: 500px;
  border: 0px solid black;
  position: relative;
}
.card2:hover {
  -webkit-box-shadow: 10px 7px 5px 0px rgba(46, 4, 7, 1);
  -moz-box-shadow: 10px 7px 5px 0px rgba(46, 4, 7, 1);
  box-shadow: 10px 7px 5px 0px rgba(46, 4, 7, 1);
}

.card2 img {
  width: 350px;
  height: 250px;
  border: 0px solid black;
}

.topright {
  width: 70px;
  height: 100px;

  border: 0px solid rgb(26, 16, 226);
  top: 0;
  right: 0;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.topright div1 {
  border: 0px solid black;
  font-size: 30px;
  color: black;
  height: 50px;
  width: 70px;
  background-color: #e47312;
  font-family: "Dosis", sans-serif;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  color: black;
  padding-top: 15px;
}
.topright div2 {
  border: 0px solid red;
  font-size: 17px;
  color: black;
  height: 50px;
  width: 70px;
  background-color: white;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  padding-top: 15px;
}

.bottam2 {
  width: 350px;
  height: 250px;
  border: 0px solid aqua;
  text-align: left;
  align-items: center;
  position: relative;
  background-color: #e47312;
}
.bottam2 h1 {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  text-align: left;
  margin: 40px;
  position: absolute;
  text-transform: uppercase;
  color: black;
}
.bottam2 p {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  text-align: left;
  margin-left: 40px;
  margin-top: 70px;
  position: absolute;
  line-height: 20px;
  color: black;
}
.bottam2 span {
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
}
.bottam2 span::after {
  content: "";
  width: 0%;
  height: 1px;
  background: red;
  display: block;

  transition: 0.5s;
  margin-left: 0px;
}
.bottam2 a {
  color: #c1c3cc;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.bottam2 a:hover {
  content: "";
  color: white;
  min-width: fit-content;
  text-decoration: underline 2px solid black;
}
.footer {
  position: absolute;

  margin-top: 100px;
  height: auto;
  width: 100%;
}
.container2 {
  width: 100%;
  height: 150px;
  border: 0px solid red;
  border-bottom: 30px;
  background-image: linear-gradient(56deg, #e47312, #ff6361);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.trusted {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  color: white;
  text-transform: uppercase;
}
.logo1 {
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}
.logo1 a {
  text-decoration: none;
  text-transform: uppercase;
}
.logo1 img {
  width: 120px;
  height: 100px;
  color: white;
}
.contact {
  width: 95%;
  border: 0px solid red;
  background-color: black;
  height: auto;
  position: relative;

  margin-top: -70px;
  margin-right: auto;
  margin-left: auto;
}
.last {
  font-family: "Dosis", sans-serif;
  display: flex;
  margin-right: auto;

  margin-top: 70px;
  height: 300px;
  border: 0px solid red;
  width: 100%;
}
.last1 {
  width: 430px;
  height: 300px;
  font-size: 35px;

  color: white;

  border: 0px solid red;
  text-align: left;
  margin-left: 80px;

  position: relative;
  font-family: "Dosis", sans-serif;
}

.last1 h6 {
  color: white;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  padding: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}
.last1 h6:after {
  content: "";
  position: absolute;
  top: 50%;

  display: block;
  left: 120px;
  width: 160px;
  height: 0.5px;
  background-color: red;
}
.last1 p {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: 17px;

  padding: 20px;
  margin-left: 0%;
}
.last1 span {
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
}
.last1 span:hover {
  color: white;
  text-decoration: underline 2px solid white;
}
.last2 {
  margin-left: 40px;
  width: 300px;
  border: 0px solid red;
  margin-left: 0%;
}

.last2 a {
  color: white;
  text-decoration: none;
}

.last2 h6 {
  color: white;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;

  padding: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}
.last2 h6:after {
  content: "";
  position: absolute;
  top: 50%;

  display: block;
  left: 120px;
  width: 160px;
  height: 0.5px;
  background-color: red;
}
.last2 p {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 0%;
  padding: 15px;
  line-height: 0px;
  letter-spacing: 1px;
  word-break: normal;
}
.last2 p:hover {
  color: white;

  width: min-content;
  text-decoration: underline 2px solid white;
}
.last3 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
  margin-bottom: 20px;
}
.last3 h6 {
  color: white;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.last3 h6:after {
  content: "";
  position: absolute;
  top: 50%;

  display: block;
  left: 120px;
  width: 160px;
  height: 0.5px;
  background-color: red;
}

.phone2 {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 10px;
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: Dosis, sans-serif;
  margin-left: 15px;
  border: 0px solidd red;
  height: 50px;
  width: 250px;
}

.phone2 img {
  padding-right: 10px;
  padding-top: 10px;
}

.phone2 h1 {
  text-transform: uppercase;
  font-family: Dosis, sans-serif;
  font-size: 13px;
  text-align: left;
  padding-top: 20px;
}

.pre {
  width: 250px;
  height: 20px;
  border: 0px solid red;
  color: white;
  font-family: Dosis, sans-serif;
  font-size: 14px;
  padding-left: 50px;
}
.end {
  margin-top: 75px;
  margin-left: 95px;
  height: 110px;
  width: 160px;
  background-color: #e47312;
}
.end img {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  padding: 0px 35px;
  width: 90px;
  height: 20px;
  padding-top: 49px;
}
